### ---배열을 사용하면 따로따로 흩어진 변수를 하나로 묶어서 사용할 수 있어 코드를 쉽고 효율적으로 작성할 수 있다.---

In [3]:
# 학생 5명의 시험 점수를 입력받아 합계와 평균을 출력하기

print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요.: '))
score2 = int(input('2번 학생의 점수를 입력하세요.: '))
score3 = int(input('3번 학생의 점수를 입력하세요.: '))
score4 = int(input('4번 학생의 점수를 입력하세요.: '))
score5 = int(input('5번 학생의 점수를 입력하세요.: '))

total = 0

total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점입니다.')
print(f'평균은 {total / 5}점입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요.: 32
2번 학생의 점수를 입력하세요.: 68
3번 학생의 점수를 입력하세요.: 72
4번 학생의 점수를 입력하세요.: 54
5번 학생의 점수를 입력하세요.: 92
합계는 318점입니다.
평균은 63.6점입니다.

##### 리스트 간단히 살펴보기

In [4]:
list()

[]

In [5]:
list('ABC')

['A', 'B', 'C']

In [7]:
list([1,2,3])

[1, 2, 3]

In [9]:
list((1,2,3))

[1, 2, 3]

In [11]:
list({1,2,3})

[1, 2, 3]

In [14]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [16]:
list(range(3,8))

[3, 4, 5, 6, 7]

In [18]:
list(range(3,13,2))

[3, 5, 7, 9, 11]

#### 튜플 간단히 살펴보기

In [22]:
# 튜플은 리스트와 다르게 결합 연산자'()'를 생략할 수 있다.

()

()

In [21]:
1,  #원소가 1개인 경우 원소 뒤에 쉼표를 반드시 입력해야 한다. 아니면 그냥 1 이랑 구분이 안가기 때문

(1,)

In [24]:
(1,)

(1,)

In [25]:
1,2,3

(1, 2, 3)

In [26]:
1,2,3,

(1, 2, 3)

In [27]:
(1,2,3)

(1, 2, 3)

In [28]:
(1,2,3,)

(1, 2, 3)

In [29]:
'A','B','C'

('A', 'B', 'C')

In [30]:
v01 = 1  # 1 튜플이 아닌 하나의 값을 가진 int형 변수
v02 =(1) # 1 튜플이 아닌 하나의 값을 가진 int형 변수 ,why? 1뒤에 쉼표를 붙이지 않았기 때문에 tuple 로 인식하지 않음. (1)=1 (5+2)=7 인것처럼.

In [31]:
tuple()

()

In [32]:
tuple('ABC')

('A', 'B', 'C')

In [33]:
tuple([1,2,3])

(1, 2, 3)

In [34]:
tuple({1,2,3})

(1, 2, 3)

In [35]:
tuple(range(7))

(0, 1, 2, 3, 4, 5, 6)

In [36]:
tuple(range(3,8))

(3, 4, 5, 6, 7)

In [37]:
tuple(range(3,13,2))

(3, 5, 7, 9, 11)

In [38]:
x = [1,2,3]
a,b,c = x    # x를 언팩하여 변수 a,b,c에 대입  *언팩: 리스트나 튜플의 원솟값들을 풀어 여러 변수에 대입하는 것.

In [40]:
a,b,c

(1, 2, 3)

#### 인덱스식 사용하기

In [42]:
x = [11,22,33,44,55,66,77]
print(x[2])  # 리스트 x의 앞에서 3번째 원소를 출력
print(x[-3]) # 리스트 x의 뒤에서 3번째 원소를 출력
x[-4] = 3.14  # 리스트 x의 뒤에서 4번째 원소에 새로운 값을 대입
print(x)
print(x[7])  # 존재하지 않는 인덱스이므로 오류를 출력
x[7] = 3.14  # x[7]에는 값을 대입할 수 없으므로 오류를 출력

# x가 리스트가 아닌 튜플이면 대입할 때 오류가 발생한다. 튜플은 원솟값을 변경할 수 없는 속성이 있기 때문!
# 존재하지 않는 원소에 접근하거나 대입해도 원소가 새롭게 추가되지는 않는다.

33
55
[11, 22, 33, 3.14, 55, 66, 77]

IndexError: list index out of range

### 슬라이스: 리스트 또는 튜플의 원소 일부를 연속해서 또는 일정한 간격으로 꺼내 새로운 리스트 또는 튜플을 만드는 것

### s[i:j] : s[i]부터 s[j-1]까지 나열합니다.
### s[i:j:k] : s[i]부터 s[j-1]까지 k씩 건너뛰며 나열합니다.

In [48]:
s = [11, 22, 33, 44, 55, 66, 77]
print(s[0:6])      # 리스트 s의 0번째 원소부터 5번째 원소를 출력
print(s[0:7])      # 리스트 s의 0번째 원소부터 6번째 원소를 출력
print(s[0:7:2])    # 리스트 s의 0번째 원소부터 6번째 원소 중 2씩 건너뛰며 원소를 출력
print(s[-4:-2])    # 리스트 s의 뒤에서 4번째 원소부터 뒤에서 2번째 원소를 출력
print(s[3:1])      # 리스트 s의 j값(1)이 i값(3)보다 작지만 오류가 나지 않음. 그냥 빈 리스트를 출력함.

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 44, 55, 66, 77]
[11, 33, 55, 77]
[44, 55]
[]

#### len() 함수로 배열의 원소 수 구하기

In [54]:
x = [15, 64, 7, 3.14 ,[32,55], 'ABC']
len(x)
# if x:
#     # x가 비어 있지 않으면(True) 실행
# else:
#     # x가 비어 있으면(False) 실행

6

### 내포 표기 생성 : 리스트 안에서 for, if 문을 사용하여 새로운 리스트를 생성하는 기법을 내포 표기 생성이라고 한다

In [56]:
numbers = [1, 2, 3, 4, 5]
twise = [num * 2 for num in numbers if num % 2 == 1]
print(twise)

[2, 6, 10]